:root {
  --AliceBlue: #F0F8ff;
  --Navy: #000080;
  --SeaShell: #FFF5EE;
}

::selection{
    background-color: var(--SeaShell);
    color: var(--Navy);
}

html {
    font-size: 62.5%;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--Navy);
    background-color: #FFF5EE;
}